# 第1章 Pandas基础

Pandas是能啥咧？一句话描述， Pandas是一个专门做数据分析的库。它是使用Python语言写的， 可以方便高效地写帮助咱做数据分析。
那么心里嘀咕了， 数据分析有什么用？能吃不？ 香么？

闲言少叙，咱这里使用一个简单的例子， 开始实际动手体验下Pandas的基本使用。

In [1]:
import pandas as pd
import numpy as np

假定有这样的一些数据

In [2]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [3]:
purchases = pd.DataFrame(data)

In [4]:
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [5]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [6]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64